

.map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.margin {
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sender {
    display: flex;
    width:100%;
    gap: 0.5rem;
}

.footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.textbox {
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: pink;
    padding-left: 1rem;
    flex-grow: 1;
}

.button {
    grid-column: 6/ 7;
    width: 100%;

    background: mediumblue;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    color: white;
}